<config>
    <modules>
        <TM_QtySwitcher>
            <version>1.0.6</version>
        </TM_QtySwitcher>
    </modules>
    <global>
        <helpers>
            <tm_qtyswitcher>
                <class>TM_QtySwitcher_Helper</class>
            </tm_qtyswitcher>
        </helpers>
        <models>
            <tm_qtyswitcher>
                <class>TM_QtySwitcher_Model</class>
            </tm_qtyswitcher>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <qty_switcher>
                    <file>tm/qty-switcher.xml</file>
                </qty_switcher>
            </updates>
        </layout>
    </frontend>
    <default>
        <tm_qtyswitcher>
            <main>
                <enabled>0</enabled>
            </main>
            <category>
                <enabled>0</enabled>
                <type>text</type>
            </category>
            <cart>
                <enabled>0</enabled>
            </cart>
        </tm_qtyswitcher>
    </default>
</config>
